<!DOCTYPE html>
<html>
<head>
	<title>Registro de Usuario Nuevo</title>
	<meta charset="UTF-8">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css"> 
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <style type="text/css">
    	
    	 .dato{
    	 width: 60%;
  padding: 12px 20px;
  margin: 8px 0;
  border: 1px solid #ccc;
  border-radius: 4px;
    }
       .body{
     	  background: #9368E9;
     }
     .colort{
     	color: black;
     }
     .lab{
     	position: right;
     }
    
    </style>
</head>
<body class="body">
	<div class="container">
		
		<form action="../funciones/signupUsers.php" method="POST">
			<div>
				<h2> Ingrese sus datos: </h2>
				<div class="form-group">
					<label class="lab"> Nombre: </label><br>
					<input type="text" name="nameUser" class="dato" placeholder="Nombre"><br>
				</div>
				<div class="form-group">
					<label class="lab"> Apellido: </label><br>
					<input type="text" name="lastNameUser" class="dato" placeholder="Apellido"><br>
				</div>
				<div class="form-group">
					<label class="lab"> Edad: </label><br>
					<input type="text" name="ageUser" class="dato" placeholder="Edad"><br>
				</div>
				<div class="form-group">
					<label class="lab"> E-Mail: </label><br>
			
					<input type="email" name="mailUser" placeholder="E-Mail" class="dato" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$"><br>
					
				</div>
				<div class="form-group">
					<label class="lab"> Nombre de usuario: </label><br>
					<input type="text" name="username" class="dato" placeholder="Nombre de usuario"><br>
				</div>
				<div class="form-group">
					<label class="lab"> Contraseña: </label><br>

				<input class="dato" name="passUser" required="required" type="password" id="password" placeholder="Password">
			</div>
			<div class="form-group">
				<label class="lab"> Confirma Contraseña: </label><br>
				<input class="dato" placeholder="Confirma Contraseña" name="password_confirm" required="required" type="password" id="password_confirm" oninput="check(this)" maxlength="8"/>

			</div>
				<script language='javascript' type='text/javascript'>
    	function check(input) {
        if (input.value != document.getElementById('password').value) {
            input.setCustomValidity('Password Must be Matching.');
        } else {
            // input is valid -- reset the error message
            input.setCustomValidity('');
        }

    						}
			</script>
				<input type="hidden" name="directoryUser">
				<button type="submit" class="btn btn-primary" name="enviar"> Guardar </button>
			</div>
		</form>
		<p class="text"><a href="../index.php" class="colort">Regresar</a></p>
	
		</div>
	</div>
<!-- Scripts que trabajan con bootstrap para hacer la página responsive-->		
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
</body>
</html>