<!DOCTYPE html>
<html>
<head>
	<title>Registro de Usuario Nuevo</title>
	<meta charset="UTF-8">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css"> 
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
</head>
<body>
	<div class="container">
		<form action="../funciones/signupUsers.php" method="POST">
			<div>
				<h2> Ingrese sus datos: </h2>
				<div class="form-group">
					<label> Nombre: </label>
					<input type="text" name="nameUser"><br>
				</div>
				<div class="form-group">
					<label> Apellido: </label>
					<input type="text" name="lastNameUser"><br>
				</div>
				<div class="form-group">
					<label> Edad: </label>
					<input type="text" name="ageUser"><br>
				</div>
				<div class="form-group">
					<label> E-Mail: </label>
					<input type="text" name="mailUser"><br>
				</div>
				<div class="form-group">
					<label> Nobre de usuario: </label>
					<input type="text" name="username"><br>
				</div>
				<div class="form-group">
					<label> Contraseña: </label>
					<input type="text" name="passUser"><br>
				</div>
				<input type="hidden" name="directoryUser">
				<button type="submit" class="btn btn-primary"> Guardar </button>
			</div>
		</form>
	</div>
<!-- Scripts que trabajan con bootstrap para hacer la página responsive-->		
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
</body>
</html>